.header__logo {
  background-image: url('../../../images/header-logo.svg');
  min-height: 52px;
  min-width: 176px;
  background-size: cover;
  background-position: center;
}

@media (max-width: 767px) {
  .header {
    min-height: 42px;
    min-width: 142px;
  }
}
